<h2>Frequently Asked Questions</h2>

<h3>What is the <em>Congressional Record</em>?</h3>
<p>The <em>Congressional Record</em> is <strong>the most widely recognized published account of the debates, proceedings, and activities of the United States Congress</strong>. It currently averages about 272 pages a day and can be thought of as the world's largest daily newspaper as it contains an account of everything that is said and done on the floors of the House and Senate, extensive additional reprinting of inserted materials, and since 1947, a resume of congressional activity (the Daily Digest).</p>

<p>The <em>Congressional Record</em> consists of four sections: the proceedings of the <strong>House</strong>, the proceedings of the <strong>Senate</strong>, the <strong>Extensions</strong> of Remarks (containing matter not part of the spoken debates and proceedings) and the <strong>Daily Digest</strong>.</p>

<p>For further reading, the Library of Congress provides <a href="http://thomas.loc.gov/home/abt.cong.rec.html" target="_new">online specifics about the <em>Congressional Record</em></a>.
