<div class="info-left"><h2>You searched for:</h2>
  <h1>PIZZA</h1>
  <hr>
  <p>Mentions in the Congressional Record since 1996:<br>
    1996: 33 mentions<br>
    1997: 34 mentions<br>
    1998: 18 mentions<br>
    1999: 80 mentions<br>
    2000: 31 mentions<br>
    2001: 37 mentions<br>
    2002: 32 mentions<br>
    2003: 30 mentions<br>
    2004: 17 mentions<br>
    2005: 26 mentions<br>
    2006: 25 mentions<br>
    2007: 58 mentions<br>
    2008: 49 mentions<br>
    2009: 59 mentions<br>
    2010: 47 mentions<br>
    2011: 41 mentions<br>
    2012: 34 mentions<br>
    2013: 33 mentions<br>
    2014: 12 mentions<br>
    2015: 3 mentions</p>
</div>

<div class="info-right">
<p><strong>Speaker:</strong> Edolphus Towns, NY-D</p>
<p><strong>Congress:</strong> 106 | <strong>Chamber:</strong> Extensions</p>
<p><strong>Title: SALUTE TO THE TONY MODICA PIZZA DANCE FOUNDATION AND ONE WORLD-ONE HEART, INC.</strong></p>
<p><strong>Date:</strong> 1999-06-07</p>

<p>"Mr. Speaker, I rise today to salute the contributions of the Tony Modica <strong>Pizza</strong> Dance Foundation and One World-One Heart, Inc., organizations which exemplifies our nation's direction of unity and cultural exchange through inter-generational activities and programs."</p>
<p>"Tony Modica came to this country as an immigrant and became successful in the <strong>pizza</strong> industry. This Foundation is a means for him to give back to the community through a program that benefits the elderly and the youth. <strong>Pizza</strong> is a favorite food of both young and old and its incorporation into a program which features song, dance and <strong>pizza</strong> makes for an enjoyable experience for all involved. Modica uses the <strong>pizza</strong> as an international symbol of unity. The Foundation has created programs that promote unity; and encourages children to stay in school and improve their grades. After his lectures, the students and seniors are treated to <strong>pizza</strong> and a lesson in the Foundations' original Pizza Dance--a step choreographed to mimic the art of <strong>pizza</strong> making. The <strong>Pizza</strong> is used as a symbol because of it's varied toppings and delectable enjoyment that is recognized by all cultures and ethnic groups. The positive messages are enhanced through dance and the enjoyable feast and taste of <strong>pizza</strong>!"</p>
<p>"One World-One Heart, Inc. serves to provide access to educational; recreational; cultural and intergenerational programs for participants from all ethnic, religious, economic and cultural backgrounds. The founders, Catherine Laporte and Steven Kaplansky have over 30 years of experience of providing non-profit; social and recreational services to communities at large."</p>
<p>"One World-One Heart, Inc. has joined with The Tony Modica <strong>Pizza</strong> Dance Foundation to promote unity and cultural appreciation through free public activities and have mobilized others to support a unified message of respect and appreciation of all people. The combined efforts are a great model of how government, not-for-profits; religious and private sectors can work together for the good of the public."</p>
<p>"<strong>Pizza</strong> is undoubtedly the world's most popular food. The positive messages are enhanced through song, dance and an enjoyable feast of <strong>Pizza</strong>. The Mayor and City Council have recognized the organization's efforts in New York. By taking this program to a national level with it's fun spirited message. The Tony Modica <strong>Pizza</strong> Dance Foundation and One World-One Heart, Inc., are positive examples of how private citizens and not-for-profit organizations can make a difference in the community with the support of business and government."</p>
<p>"I implore my colleagues on both sides of the aisle to join me in recognizing the <strong>Pizza</strong>; The Tony Modica <strong>Pizza</strong> Dance Foundation; and One World-One Heart, Inc. and in proclaiming June National Taste of <strong>Pizza</strong> Month."</p>
</div>

<div style="clear:both;"></div>
