<footer>
  <p class="footer-left">&copy;2015 Just Talkin' About Congress </p>
  <p class="footer-right">This site uses various APIs provided by the <%= link_to "Sunlight Foundation", "http://sunlightfoundation.com/", target: "_blank" %>.</p>
</footer>

<div class="star"><div>
