<header>
  <%= link_to(image_tag("header.png", :alt => "Logo"), root_path) %>
  <% if current_user %>
    <div class="header-blurb">Signed in as <%= current_user.name %><% end %>
  <div style="clear:both;"></div>
</header>
