<nav>
  <ul>
    <li><%= link_to "Search", root_path %></li>
    <li><%= link_to "Find Your Legislator", legislators_path %></li>
    <li><%= link_to "FAQ", questions_path %></li>
    <li><%= link_to "Login with Twitter", login_path %></li>
  </ul>
  <div style="clear:both;"></div>
</nav>
